<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>詳細</title>
</head>
<body>
    <header class="site-header">
        <div>
            <H1 class="header-logo">spring</H1>
            <input class="header-search" type="text" name="keyword" placeholder="キーワード検索">
            <a href="/blogs">投稿</a>
        </div>
    </header>

    <div th:each="">
            <h1 th:text="${title}">ポラノーイの広場</h1>
            <p th:text="${text}">メモ</p>
            <!-- <a href="@{/blogs/ditail{id}/edit(id=${blog.id})}"></a> -->
        </a>
    </div>
</body>
</html>