<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="site-header">
        <div>
            <H1 class="header-logo">spring</H1>
            <input class="header-search" type="text" name="keyword" placeholder="キーワード検索">
            <a href="/blogs">投稿</a>
        </div>
    </header>
    <h1>タイトル</h1>
    <input type="text" name="keyword" placeholder="タイトル">
    <h2>本文</h2>
    <input type="text" name="keyword" placeholder="本文">
    <a href="/blogs">保存</a>
</body>

</html>